// $black-c: #0B041B;
// $back-body: #464646;

// %title-font{
// 	font-family: 'Poppins', sans-serif;
// 	font-weight: 700;
// 	font-size: 44px;
// 	color: #021D1A;
// }


%font-b{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

%title-5{
	font-size: 18px;
	line-height: 25px;
	font-weight: 500;
}